@model List<PFL.Models.DTO.ClubDocumentDto>
@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-lg">

        @foreach (var item in Model)
        {
            string fileInputClassName = "club-document-new";
            <tr id="document-name-row-@(item.DocumentNameId)">
                <td class="col-md-3">@item.DocumentName</td>

                <td class="col-md-1">
                    @if (string.IsNullOrEmpty(item.FilePath))
                    {
                        <span class="label label-danger">ƏLAVƏ EDİLMƏYİB</span>
                    }
                    else if (item.ClubConfirm.Value && !item.OperatorConfirm.Value && !item.Rejected.Value)
                    {
                        <span class="label label-warning">TƏSDİQƏ GÖNDƏRİLİB</span>
                    }
                    else if (item.ClubConfirm.Value && item.OperatorConfirm.Value && !item.Rejected.Value)
                    {
                        <span class="label label-success">TƏSDİQLƏNİB</span>
                    }
                    else if (!item.ClubConfirm.Value && !item.OperatorConfirm.Value && item.Rejected.Value)
                    {
                        <span class="label label-danger">İMTİNA EDİLİB</span>
                    }
                </td>
                <td class="col-md-1">
                    @if (!string.IsNullOrEmpty(item.FilePath))
                    {
                        <a href="@item.FilePath" target="_blank">@(item.FileName)</a>
                    }
                </td>
                <td class="col-md-3 text-center">
                    @if (item.OperatorConfirm != null && (item.Rejected != null && (item.ClubConfirm != null && (item.ClubConfirm.Value && !item.Rejected.Value && !item.OperatorConfirm.Value))))
                    {

                        <div class="col-md-12">
                            <div class="col-md-5 col-md-offset-1">
                                <button type="button" data-href="/Clubs/DocumentConfirmation?documentId=@(item.DocumentId)&confirm=false" class="btn btn-danger btn-labeled club-document-confirm" title="İmtina"><b><i class="icon-cross"></i></b>İmtina et</button>
                            </div>

                            <div class="col-md-5 col-md-offset-1">
                                <button type="button" data-href="/Clubs/DocumentConfirmation?documentId=@(item.DocumentId)&confirm=true" class="btn btn-primary btn-labeled club-document-confirm" title="Təsdiqlə"><b><i class="icon-check2"></i></b>Təsdiqlə</button>
                            </div>
                        </div>

                    }
                </td>
                <td class="col-md-4"></td>
            </tr>
        }
    </table>
</div>

<script>

    var clubType = @(ViewBag.ClubType);

    $(document).ready(function() {

        


        $(".club-document-confirm").click(function () {

            $.ajax({
                url: $(this).data('href'),
                method: "GET",
                success: function (data) {
                    $("#club-document-confirm-body").html(data);
                    $('#club-document-confirm-modal').modal();
                }
            });
        });


    });

</script>