@model  PFL.Entities.EntityModels.ClubOfficialOrder
@{
    Layout = "";
}


<tr id="coo-row-@Model.Id">
    <td></td>
    <td>
        @Model.ClubOfficial.FirstName @Model.ClubOfficial.LastName @Model.ClubOfficial.FatherName
    </td>
    <td>
        @(Model.ClubOfficial.Position?.Name)
    </td>
    @if (Model.Rejected && !Model.ClubConfirm)
    {
        <td><span class="label label-danger">İmtina edilib</span></td>
    }
    else if (Model.OperatorConfirm)
    {
        <td><span class="label label-success">Təsdiqlənib</span></td>
    }
    else if (Model.ClubConfirm)
    {
        <td><span class="label label-primary">Təsdiqə göndərilib</span></td>
    }
    else
    {
        <td><span class="label label-warning">Yekunlaşmamış</span></td>
    }

    <td class="text-center">
        @if (Model.ClubConfirm && !Model.Rejected && !Model.OperatorConfirm)
        {

            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-6">
                    <button type="button" data-href="/OfficialOrders/Confirmation?id=@(Model.Id)&confirm=false" class="btn btn-danger btn-icon official-order-confirm" title="Təsdiqlə"><b><i class="icon-cross"></i></b>&nbsp;</button>
                </div>

                <div class="col-md-6">
                    <button type="button" data-href="/OfficialOrders/Confirmation?id=@(Model.Id)&confirm=true" class="btn btn-primary btn-icon official-order-confirm" title="Təsdiqlə"><b><i class="icon-check2"></i></b>&nbsp;</button>
                </div>
            </div>

        }
    </td>
</tr>
